#{extends 'main.html' /}
#{set title:'Home' /}
        #{script src:"autocomplete.js" /}

<div id="query">
    <center>


<form action="@{Application.query()}" autocomplete="off" method="get">
    Query <input id="txt" size="70" name="query" value="${params.query}"/> 
    <input type="submit" value="Search" autocomplete=off/>
    <div id="suggest" style="visibility:hidden;border:#000000 1px solid;width:150px;"></div>
        <div id="psuedorel">
            <input type="radio" name="rf" value="prf" /><span style="color: white">Use Pseudo Relevant FeedBack</span>
        </div>
</form>

  

</center>
</div>




<br/>

<div id="suggestions">
    #{include 'Application/sug.html'/}
</div>

<br/>


#{if results}
<div id="results">
    
    #{include 'Application/query.html' /}
</div>

#{/if}






